* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

[hidden] {
  display: none !important;
}

.body {
  display: flex;
  flex-direction: row-reverse;
  align-items: self-start;
  justify-content: flex-end;
}

.header {
  background-image: url("./../imgs/sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  &__links {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-around;
    &--form {
      width: 95%;
      background-color: white;
      margin: 2rem;
    }
  }
  &__link {
    padding: 1rem 2rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
  }
  &__link:hover {
    color: rgb(39, 156, 224);
    background-color: rgba(39, 156, 224, 0.096);
    border-bottom: solid 2px rgb(39, 156, 224);
  }
  &__nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
    &--form {
      width: 80%;
      margin: 1rem;
    }
  }
  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 35%;
  }
}

h1 {
  font-family: "Kanit", sans-serif;
  font-family: "Nunito", sans-serif;
  font-size: 6rem;
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 5;
}
.aside {
  height: 100vh;
  width: 20vw;
  background-color: rgb(30, 30, 45);
  &__menu {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  &__link {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
  }
  &__article {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(70, 191, 247);
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.my-float {
  margin-top: 22px;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(245, 248, 250);
  &__part {
    margin: 2rem;
    height: auto;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
  }
  &__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    &--textarea {
      height: fit-content;
    }
  }
  &__text {
    width: 40%;
    font-family: "Poppins", sans-serif;
    font-size: 1.075rem;
    font-weight: 500;
    color: rgb(63, 66, 84);
    &--input {
      display: block;
      width: 100%;
      padding: 0.75rem 1rem;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.5;
      color: rgb(24, 28, 50);
      background-color: rgb(255, 255, 255);
    }
  }
  &__input {
    width: 60%;
    background-color: rgb(245, 248, 250);
    border-color: rgb(245, 248, 250);
    color: rgb(42, 42, 44);
    transition: color 0.2s ease, background-color 0.2s ease;
    min-height: calc(1.5em + 1.65rem + 2px);
    padding: 0.825rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.475rem;
  }
  &__input--nickname {
    width: 645%;
  }
  &__type-select {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  &__buttons {
    text-align: center;
    padding: 2rem;
  }
  &__button {
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(245, 248, 250);
    font-family: "Poppins", sans-serif;
    &--different {
      margin-left: 2rem;
      background-color: rgb(70, 191, 247);
    }
  }
}
