<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Knowledge cloud</title>
		<link rel="stylesheet" href="styles/index.css"/>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<div class="body"> {% block body %}{% endblock %}
			<aside class="aside">
				<div class="aside__menu">
					<a href="index.html" class="aside__link" data-open="t">Knowledge Cloud</a>
					<div class="aside__new-article" id="t">
						<a href="" class="aside__article">Zaznamenat další knowledge</a>
					</div>
				</div>
			</aside>
		</div>
		<a href="form.html" id="trigger-button" class="float">
			<i class="fa fa-plus my-float"></i>
		</a>

		<script src="scripts/index.js"></script>
	</body>
</html>
