{% extends "_base.twig" %}
{% block body %}

	<div class="form">
		<div class="header__links header__links--form">
			<nav class="header__nav header__nav--form">
				{% for category in categories %}
					<a href="" class="header__link">{{ category }}</a>
				{% endfor %}
			</nav>
		</div>
		<main class="form__main">
			<div class="form__part">
				<div class="form__line">
					<p class="form__text">Název:</p>
					<input class="form__input" type="text" placeholder="O co go?"/>
				</div>
				<div class="form__line">
					<p class="form__text">Nickname:</p>
					<div class="nickname">
						<select name="" class="form__input form__input--nickname">
							<option value=""></option>
							<option class="form__text form__text--input" value="Chris">Chris</option>
							<option class="form__text form__text--input" value="Mirai">Mirai</option>
							<option class="form__text form__text--input" value="Jerred">Jerred</option>
							<option class="form__text form__text--input" value="Suvic">Suvic</option>
						</select>
					</div>
				</div>
				<div class="form__line">
					<p class="form__text ">Datum:</p>
					<input class="form__input" type="date"/>
				</div>

				<div class="form__line">
					<p class="form__text">Štítky:</p>
					<input class="form__input" type="search"/>
				</div>
				<div class="form__line">
					<p class="form__text">Link na zdroj:</p>
					<input class="form__input" type="text"/>
				</div>
				<div class="form__line form__line--textarea">
					<p class="form__text">Popis:</p>
					<textarea name="" class="form__input" cols="50" rows="10"></textarea>
				</div>
				<div class="form__buttons">
					<button class="form__button">cancel</button>
					<button class="form__button form__button--different">save</button>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
