{% extends "_base.twig" %}
{% block body %}
	<header class="header">
		<div class="header__top">
			<h1>Knowledge Cloud</h1>
		</div>
		<div class="header__links">
			<nav class="header__nav">
				{% for category in categories %}
					<a href="" class="header__link">{{ category }}</a>
				{% endfor %}
			</nav>
			<input type="text" placeholder="Libo štítek?"/>
		</div>
	</header>
{% endblock %}
